@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.page-title {
    font-family: 'Rubik', sans-serif;
    color: #A64b2A;
    margin: 40px auto 10px;
    padding-left: 10px;
    width: 80%;
    font-size: 50px;
    font-weight: bold;
}


h2 {
    font-family: 'Rubik', sans-serif; 
    color: #8E3200;
    margin: 40px auto 10px;
    padding-left: 10px;
    width: 80%;
    font-size: 14px;
    font-size: 25px;
}
   

.article {
    font-family: 'Rubik', sans-serif;
    width: 80%;
    margin: auto 5px;
}


p {
    margin-top: 20px;
    }
    

main {
    width: 80%;
    margin: 40px auto 5px;
    font-size: 22px;
}


.article {
    color: rgb(150, 127, 255);
    font-weight: bold;
    font-size: 40px;
}


.titulo-produto {

    margin: 40px 0 10px;
    font-size: 22pt;
    color: black;
    background-color: #A64b2A;
    padding: 2%;
    border-radius: 20px;
    font-family: 0,100;
    width: 100%;
    box-shadow: inset ;
    
}


.imagem-produto {
    width: 20%;
}

footer {
    background-color: #A64b2A;
    padding: 15px;
}